@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-SemiboldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'VagRounded';
  src: url('/assets/fonts/vag-rounded/VAG-Rounded-Light.ttf');
}